.left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:25%;
  z-index:-10;
}

.right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:75%;
  font-size: 0.5em;
}

.right ul li{
    font-size: 0.8em;
}

.small-font {
    font-size: 0.6em;
}

.reveal blockquote {
    width: 90%;
    text-align: left;
}

.slide table {
    width: 90%;
}

.level2 p {
    text-align: left;
    font-size: 0.8em;
    line-height: 1.1;
}

.reveal section img {
    border: 0;
    max-height: 60%;
    max-width: 60% !important;
    margin: 0 auto;
    display: block;
}

section:first-child h1{
    font-size: 1.8em;
    margin-bottom: 100px;
}

.reveal section .citation {
    font-size: 0.5em;
}

.reveal section .practice {
    width: 99%;
    margin-top: 10px;
    font-size: 24px;
    position: relative;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    background-color: white;
    padding: 9px 11px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #c5c5c5;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.reveal section .practice h2 {
    color: #666;
    font-size: 1.2em; 
    padding-bottom: 5px;
    margin-bottom: 12px;
    border-bottom: 1px solid #dcdbda;
}
.reveal section .practice p { 
    padding-bottom: 12px; 
    font-size: 0.8em; 
    color: #222;
}
.reveal section .practice ul li { 
    padding-bottom: 12px; 
    font-size: 0.8em; 
    color: #222;
}
